*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;

}

body {
    background: linear-gradient(to right, gray, rgb(50,50,50,));

}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 6rem);
    grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
    margin-top: 2rem;
    justify-content: center;




    button{
        cursor: pointer;
        font-size:2rem;
        border: 1px solid rgba(225, 225, 225, 1);
        outline: none;
        background-color: rgba(225, 225, 225, .75);

        &:hover, &:focus{
            background-color: rgba(225, 225, 225, .9);
        }
    }

    .span-two {
        grid-column: span 2;

    }

    .output {
        grid-column: 1/-1;
        background-color: rgba(0, 0, 0, .75);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        padding: .75rem;
        word-wrap:break-word;
        word-break: break-all;


        & .previous-operand {
            color: rgba(225, 225, 225, .75);
            font-size: 1.5rem;
        }

        & .current-operand {
            color: rgba(225, 225, 225, 1);
            font-size: 2.5rem;
        }
    }

}
